.ResponsiveContent {
  padding: 0 24px 24px 24px;
}

@media (min-width: 768px) {
  .ResponsiveContent {
    padding: 0 50px 50px 50px;
  }
}

@media (min-width: 1024px) {
  .ResponsiveContent {
    padding: 0 100px 100px 100px;
  }
}

.ImageSmall {
  height: 72px;
  background-size: cover;
  background-position: center center;
  margin-left: 16px;
  border-radius: 20px;
}
